{{#base-modal close="removeModal"}}
  <h3>We'd love to hear your feedback!</h3>
  <div class="row">
    <p>Have any suggestions?  We're always looking for good ways to improve On Behalf.</p>
  </div>
  <form class="row" {{action "sendSuggestion" on="submit"}}>
    <div class="colum">
      {{input value=name name="name" placeholder="Name"}}
      {{input value=email name="email" placeholder="E-mail"}}
      {{input value=subject name="subject" placeholder="Subject"}}
    </div>
    <div class="colum">
      {{textarea value=message name="message" placeholder="Message"}}
      <button>Send</button>
      <button class="cancel" {{action 'done' target=view}}>Cancel</button>
    </div>
  </form>
{{/base-modal}}