<section class="page legislator-page">
  <div class="row">
    <h1 class="title">
      {{model.title}}. {{model.first_name}} {{model.last_name}}  
    </h1>
    <h2 class="office">
      {{model.state_name}} {{model.formattedChamber}}  
    </h2>
    <span class="party">
      {{model.formattedParty}}  
    </span>
  </div>
</section>