{{search-bar address=address action="actionSearch" isSmall=true}}
{{#if isLoading}}
  <section class="main-content">
    <div class="row"><h2>loading...</h2></div>
  </section>
{{else}}
  {{#if legislators}}
    <section class="main-content">
      <div class="row">
        <h1>Who else do they represent?</h1>
        <div class="colum">
          <ul class="legislator-list">
            {{#each legislator in legislators}}
              {{legislator-list-item action="actionClearSelection" legislator=legislator}}
            {{/each}}
          </ul
          ><div class="legislator-detail">
            <h2>{{selectedRep.fullName}}</h2>
            <p><h4>{{selectedRep.fullTitle}} ({{selectedRep.party}})</h4></p>
            <div class="colum">
              <h5>Top Contributors</h5>
              <ul>
                {{#each selectedRep.contributors}}
                  <li>
                    <strong>{{name}}</strong><em>{{format-dollars total_amount}}</em>
                  </li>
                {{/each}}
              </ul>
            </div
            ><div class="colum">
              <h5>Top Contributing Industries</h5>
              <ul>
                {{#each selectedRep.industries}}
                  <li>
                    <strong>{{displayName}}</strong><em>{{format-dollars amount}}</em>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{/if}}
{{/if}}

